* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
.intro {
  background: #eaf0f1;
}
h1 {
  color: #4c4b4b;
  font-weight: bold;
  transition: 0.5s;
}
h3 {
  color: #2f363f;
}
button {
  border: none;
  border-radius: 10px;
  padding: 10px;
  background: #7b8788;
  color: white;
  letter-spacing: 1.5px;
  font-size: 15px;
  transition: 0.5s;
}
button:hover,
h1:hover {
  transform: scale(1.1);
}
button:hover {
  background-color: #4c4b4b;
}
footer {
  color: #586776;
  background-color: #eaf0f1;
  letter-spacing: 0.5px;
}
footer p {
  margin: 0;
  font-size: 15px;
  text-align: center;
}
@media only screen and (orientation: portrait) {
  .intro {
    display: flex;
    flex-direction: column-reverse;
  }
  h1 {
    font-size: 30px;
  }
  .act {
    padding-bottom: 100px;
  }
}
.img-fluid {
  width: 100%;
  height: 200px;
}
.change {
  width: 70%;
  margin: 20%;
  height: 300px;
  border-radius: 10px;
}
.act {
  float: left;
  width: 33.33%;
  padding: 5px;
  position: relative;
}
.text-center::after {
  content: "";
  clear: both;
  display: table;
}
.img__description {
  position: absolute;
  top: 50%;

  left: 40%;
  background-color: #808080;
  border-radius: 9px;
  color: #fff;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s, visibility 0.2s;
}

.act:hover .img__description {
  visibility: visible;
  opacity: 1;
}
.act:hover .change {
  opacity: 0.5;
}
